<h1>Listing invoices</h1>

<table>
  <thead>
    <tr>
      <th>Appointment ID</th>
      <th>Date</th>
      <th>Amount</th>
      <th>Patient</th>
      <th>Physician</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.appointment_id %></td>
        <td><%= invoice.appointment.date%></td>

        <td><%= number_to_currency(invoice.amount) %></td>
        <td><%= invoice.patient.name %></td>
        <td><% @id = invoice.appointment.physician_id %><%= link_to @id, "/physicians/#{@id}"  %></td>
        <td><%= link_to 'Show', invoice %></td>
        <td><%= link_to 'Edit', edit_invoice_path(invoice) %></td>
        <td><%= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invoice', new_invoice_path %>
