<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= number_to_currency(@invoice.amount) %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @invoice.patient.name %>
</p>

<p>
  <strong>Appointment ID:</strong>
  <%= @invoice.appointment_id %>
</p>

<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
