<%= form_for(@diagnostic_code) do |f| %>
  <% if @diagnostic_code.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@diagnostic_code.errors.count, "error") %> prohibited this diagnostic_code from being saved:</h2>

      <ul>
      <% @diagnostic_code.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <table style="width:50%" align="center">
      <tr>
      <td>
  <div class="field">
    <%= f.label :number %><br>
    <%= f.text_field :number %>
  </div>
    </td>
    </tr>
         <tr>
            <td>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
          </td>
        </tr>
      <tr>
        <td>
  <div class="field">
    <%= f.label :cost %><br>
    <%= f.text_field :cost %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
        </td>
        </tr>
    </table>
<% end %>
