<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @diagnostic_code.number %>
</p>

<p>
  <strong>Description:</strong>
  <%= @diagnostic_code.description %>
</p>

<p>
  <strong>Cost:</strong>
  <%= number_to_currency(@diagnostic_code.cost) %>
</p>

<%= link_to 'Edit', edit_diagnostic_code_path(@diagnostic_code) %> |
<%= link_to 'Back', diagnostic_codes_path %>
