<h1 align="center">Welcome to Dermascheduler v1.0</h1>
<p align="center">Please use the menu in the top right corner to access all areas of the application.</p>
<table width="50%" align="center"><tr><td>
<div><b>Patients</b></div>
If you are a new patient choose Menu -> New Patient
If you need to schedule an appoint choose Menu -> New Appointment
If you need to cancel an appointment choose Menu -> List Appointment<br>
<div><b>Office workers</b></div>
If you need to generate an invoice for an appointment go to Menu -> List Appointments and Show the appointment you need an invoice for.  Click Generate Invoice to generate one automatically.<br>
<div><b>Admins</b></div>
If you need to view invoice information go to Menu -> List Invoices.  Physician ID is clickable to view physician info.
If you need to add/remove/edit diagnostic codes go to Menu -> List Diagnostic Codes<br>
<div><b>Physicians</b></div>
If you need to add appointment notes and diagnostic codes go to Menu -> List Appointments and edit the appointment.
    </td>
    </tr>
    </table>