<%= form_for(@appointment) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table style="width:50%" align="center">
  <tr>
  <td>
    <div class="field">
    <%= f.label :date %><br>
    <%= f.text_field :date %>
  </td>
 <td>
    <div class="field">
    <%= f.label :timeslot_id %><br>
    <%= f.number_field :timeslot_id %>
 </td>
    </tr>

  <tr>
  <td>
    <div class="field">
    <%= f.label :physician_id %><br>
    <%= f.collection_select :physician_id,Physician.all,:id,:name %>
  </div>
  </td>
  <td>
  <div class="field">
    <%= f.label :patient_id %> <%= link_to 'New Patient?', new_patient_path %>  <br>
    <%= f.collection_select :patient_id,Patient.all,:id,:name %>
  </div>
    </td>
  </tr>
  </table>
  <table style="width:50%" align="center">
  <tr>
  <td>
  <div class="field">
    <%= f.label :reason %><br>
    <%= f.text_area :reason %>
  </div>
  </td>
  </tr>
  </table>


    <div class="action" align="center">
    <%= f.submit %>
  </div>


<% end %>

