<h1>Listing appointments</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Timeslot</th>
      <th>Physician</th>
      <th>Note</th>
      <th>Diagnostic code</th>
      <th>Patient</th>
      <th>Reason</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>

    <div> <% @ct = (Time.now - 6.hours) %>
    </div><br>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.date %></td>

        <td><%=appointment.timeslot.time %>
        <% @t = Time.parse(appointment.timeslot.time) %>
        <% @d = "#{appointment.date} #{appointment.timeslot.time}" %>
        <% @d = Time.parse(@d) %>
        </td>
        <td><%= appointment.physician.name %></td>
        <td><%= appointment.note %></td>
        <td><%= appointment.diagnostic_code.number %></td>
        <td><%= appointment.patient.name %></td>
        <td><%= appointment.reason %></td>
        <td><%= link_to 'Show', appointment %></td>
        <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
        <% if (((@d - @ct) / 1.hour).round) > 8 %>
           <td><%= link_to 'Destroy', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Appointment', new_appointment_path %>
