<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @appointment.date %>
</p>

<p>
  <strong>Timeslot:</strong>
  <%= @appointment.timeslot.time %>
</p>

<p>
  <strong>Physician:</strong>
  <%= @appointment.physician.name %>
</p>

<p>
  <strong>Note:</strong>
  <%= @appointment.note %>
</p>

<p>
  <strong>Diagnostic code:</strong>
  <%= @appointment.diagnostic_code.number %>
</p>

<p>
  <strong>Diagnostic code:</strong>
  <%= @appointment.diagnostic_code.description %>
</p>

<p>
  <strong>Diagnostic cost:</strong>
  <%@cost = @appointment.diagnostic_code.cost %>
  <%= number_to_currency(@cost) %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @appointment.patient.name %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @appointment.reason %>
</p>
<%= link_to 'Edit', edit_appointment_path(@appointment) %>
<br><br>

<p>
  <strong>Generate Invoice:</strong>
</p>

<%= form_for(@invoice) do |f| %>
    <% if @invoice.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

          <ul>
            <% @invoice.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :amount %><br>
      <%= f.text_field :amount, :value => @cost, :readonly=>true %>
    </div>
    <div class="field">
      <%= f.label :patient_id %><br>
      <%= f.number_field :patient_id, :value => @appointment.patient_id, :readonly=>true%>
    </div>
    <div class="field">
      <%= f.label :appointment_id %><br>
      <%= f.number_field :appointment_id, :value => @appointment.patient_id, :readonly=>true %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>


<%= link_to 'Back', appointments_path %>
